{% extends 'options/base2.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/css/main.css">
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	</head>
		<section class="hero">
			<div>
				<h1><strong>About</strong></h1>
				<hr>
			</div>
		</section>
			<div class="container-bottom">
				<span class="col-2-3"> 
				 <h3>My Books</h3>
				 Are you interested in really learning about options and how to trade them? 
				 Check out “Option Trading Kung Fu” or “The Biotech Trader Handbook, 2nd Edition.”
				 I wrote these books with one goal in mind: to make both learning about and 
				 trading options easier and faster. Don’t waste your time with complex books 
				 written by “non-trading” academics. My books are simple, practical and fast 
				 paced – I purposely wrote them from a trader’s perspective. The books are 
				 filled with detailed examples and in-depth descriptions that teach option 
				 trading as it is actually experienced. 
				 <br><br>
				 I am of course biased but if you 
				 are new to options I highly recommend either one of my two books. You can 
				 learn more about them by clicking on the links below:
				<br><br>
				<a href="/options/bth/">The Biotech Trader Handbook, 2nd Edition</a>
				<br>
				<a href="/options/otkf/">Option Trading Kung Fu, 1st Edition</a>
				<br>
				<br>
				If you are interested in trading or investing or simply learning about the 
				high-growth biotech sector, please check out <a href=""http://www.chimeraresearchgroup.com">Chimera Research Group.</a>
			    <br><br>
			    <h3>My Background</h3>
			    Mr. Pelz was a trader on a major European bank's proprietary trading desk. 
			    He was responsible for a portfolio with limits of more than $200 million. 
			    Prior to proprietary trading, Mr. Pelz worked with several major investment 
			    banks in roles ranging from corporate finance, mergers and acquisitions to 
			    credit and business development. He has substantial international work 
			    experience in Asia, U.S., Europe and Latin America and was based in New York 
			    City, Bogotá (Colombia), Rio de Janeiro (Brazil) and Amsterdam (The Netherlands). 
			    Mr. Pelz currently resides in Denver, Colorado.
			    <br> 
			</div>
            	<hr>
{% endblock %}