{% extends 'options/base2.html' %}

{% load static %}

{% block title %}BTH{% endblock %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/css/main.css">
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	</head>
		<section class="hero">
			<div>
				<h1><strong>The Biotech Trader Handbook, 2nd Edition&#0153</strong></h1>
				<hr>
			</div>
				<!--<span class="logo">
				    <img class="img-circle" src="{% static 'img/HELIX2.png' %}" alt="First slide" style="width: 100px; height: 100px;">	        
				</span>-->
					<h2>A Simplified Guide to Generate Outsized Returns in Biotech Using Options</h2>  
				<hr> 
			</section>
			<div class="container-bottom">
				<span class="col-1-3">
				 	<img src="{% static 'img/book777.png' %}" alt="First slide" style="width: 250px; height: 390px;">
				</span>
				<span class="col-2-3"> 
				Small cap biotech companies spend hundreds of millions of dollars and over 
				ten years moving experimental drug candidates from concept to fully approved 
				drugs. For late stage drug candidates, those in Phase III, positive or 
				negative data can result in either massive gains or devastating declines 
				in the sponsoring company's stock price. This "ultimate catalyst event" 
				provides smart, organized & nimble option traders spectacular & consistent 
				trading opportunities. In this unique book, the author provides individuals 
				unfamiliar with the world of small cap biotech a fast, simplified and 
				efficient approach to identify, analyze & execute trading strategies using 
				options.
				<br>
				<br>The following topics, amongst others, are covered in this book: 
				<br>
				<br>• Description of the FDA drug trial process, from pre-clinical to Phase III & beyond 
				<br>• Identification, categorization & organization of small cap biotech companies 
				<br>• Structured & streamlined approach to assess small cap biotech companies 
				<br>• Notes on trading strategy & tactics 
				<br>• Detailed description of option trading structures best suited for small cap biotech
				<br>
				<br>This book is an absolute "must have" for individuals thinking about 
				trading in the fast paced and often confusing world of small cap biotech.
				<br>
				<br>
				<a class="btn btn-lg btn-primary" href="http://www.amazon.com/Biotech-Trader-Handbook-Edition-non-scientist/dp/1450598536/ref=pd_bxgy_b_img_y" role="button">Buy Now on Amazon</a></span>
            	</div>
            	<hr>
{% endblock %}