{% extends 'options/base2.html' %}

{% load static %}

{% block title %}Chimera{% endblock %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/css/main.css">
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	</head>
		<section class="hero">
			<div>
				<h1><strong>Chimera Research Group, Inc.&#0153</strong></h1>
				<hr>
			</div>
				<!--<span class="logo">
				    <img class="img-circle" src="{% static 'img/HELIX2.png' %}" alt="First slide" style="width: 100px; height: 100px;">	        
				</span>-->
					<h2>Trade Strategies & Investment Research on Listed Biotech Companies</h2>  
				<hr> 
			</section>
			<div class="container-bottom">
				<span class="col-1-3">
				 	<img src="{% static 'img/chimera2.png' %}" alt="First slide" style="width: 310px; height: 380px;">
				</span>
				<span class="col-2-3"> 
				Founded in 2011, Chimera Research Group provides completely independent and actionable 
				investment and trading ideas backed by comprehensive fundamental research 
				and analysis for listed companies in the biotech and pharmaceutical sectors. 
				<br><br>Our coverage focuses on early stage companies with impending FDA decisions 
				or clinical trial results but also includes mid-to-large cap bio-pharma 
				companies where there exists specific catalysts. Our trade ideas are 
				designed to maximize the risk reward profile. Chimera's research reports outline 
				the top up-and-coming catalysts that represent the best opportunities for 
				traders and investors. 
				<br><br>Chimera currently has 10 analysts, over 500 clients
				and 22k followers.
				<br><br>
				Our Clients:
				<br>
    			<br>Hedge Funds
    			<br>Venture Capitalists
    			<br>Pharmaceutical Executives
    			<br>Physicians
    			<br>Consultants
    			<br>Scientists
    			<br>Retail Investors
				<br><br>
				<a class="btn btn-lg btn-primary" href="www.chimeraresearchgroup.com" role="button">Visit Site</a></span>
            	</div>
            	<hr>
{% endblock %}