{% extends 'options/base2.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/css/main.css">
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	</head>
		<section class="hero">
			<div>
				<h1><strong>Contact</strong></h1>
				<hr>
			</div>
		</section>
			<div class="container-bottom">
				<span class="col-2-3"> 
				 <h3>Press, speaking, teaching and other inquiries:</h3>
				 <br>
				 pelzoptions@gmail.com
				 <br><br><br>
				 <h3>Follow on Twitter:</h3>
				 <br>
				 @biotechtraderHB
				 <br><br>
				 @pelzoptions
				 <br><br>
				 @chimeraresearchgroup				   
			</div>
            	<hr>
{% endblock %}