{% extends 'options/base2.html' %}

{% load static %}

{% block title %}OTKF{% endblock %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type= "text/css" href="/static/css/main.css">
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	</head>
		<section class="hero">
			<div>
				<h1><strong>Option Trading Kung Fu, 1st Edition&#0153</strong></h1>
				<hr>
			</div>
				  <!--<span class="logo">
				  <img class="img-circle" src="{% static 'img/kungfuimage.png' %}" alt="First slide" style="width: 100px; height: 100px;">	        
				</span>-->
					<h2>A Trader's Guide to Tactics & Strategies for Profitable Option Trading</h2>  
				<hr> 
			</section>
			<div class="container-bottom">
				<span class="col-1-3">
				 	<img src="{% static 'img/kungfuimage.png' %}" alt="First slide" style="width: 270px; height: 400px;">
				</span>
				<span class="col-2-3"> 
				Option Trading Kung Fu is a practical, nuts and bolts guide that explains 
				and teaches, through examples and in-depth descriptions, option trading as 
				it is experienced in real life. The book seeks to impart on readers the 
				knowledge usually only gained after years of active option trading in the 
				trenches. Topics covered in the book include understanding liquidity, 
				determining (reality based) Risk/Reward, estimating price targets 
				(using options), Closed and Open structures, setting Profit and Loss 
				Targets and developing P&L Plans, using Delta to gauge probability, time 
				stops, gap moves, the importance of discipline and much more. Option 
				Trading Kung Fu also presents a comprehensive, beginning-to-end option 
				trading process including identifying set-ups, selecting and pricing 
				structures, planning trades from both a risk and profit management 
				perspective, trading into positions without getting ripped off, managing 
				open positions, evaluating potential tactical and strategic adjustments, 
				exiting positions and properly managing expiration issues such as 
				assignments and exercises. 
				<br>
				<br>Also included in the book: 
				<br>
				<br>• Comprehensive overview of option fundamentals from a trader’s perspective 
				<br>• Over 25 core option trading strategies 
				<br>• Over 20 tactical and strategic adjustment techniques 
				<br>• Three comprehensive trade examples covering the topics discussed in the book 
				<br>
				<br>
				<a class="btn btn-lg btn-primary" href="http://www.amazon.com/Option-Trading-Kung-Strategies-Profitable/dp/1475246501/ref=sr_1_1?ie=UTF8&qid=1410801101&sr=8-1&keywords=option+trading+kung+fu" role="button">Buy Now on Amazon</a></span>
            	</div>
            	<hr>
{% endblock %}